<%- include('parts/header') %> 
<body>

    <%- include('parts/nav-bar') %> 

    <div class="alet alert-dark conainer d-grid justify-content-center align-content-center " style="width: 100vw; height: 92vh; font-size: 100px;">
        <p class="text-center p-5  ">
            You aren't <span class="fw-bolder text-light"> Admin </span><br> Mother Fucker's
        </p>
    </div>
    <%- include('parts/footer') %> 
</body>